<style>
  #login{
    text-transform: uppercase;
    text-align: center;
  }
</style>

<% if (menssage == '') { %>

    <% }else if (menssage) { %>
              <h3 id="login" >Bienvenido <br> <%= menssage%></h3>
            <% } %>